.main-container {
  height: 90vh;
  background-color: var(--off-white);
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 20vw;
  height: 5vh;
  border: solid 0.1rem var(--orange);
  border-radius: 0.5rem;
  font-weight: 900;
  background-color: var(--orange);
  color: var(--black);
}
.button:hover {
  background-color: var(--yellow);
  color: var(--red);
  cursor: pointer;
}
.img {
  height: 40rem;
}

@media (max-width: 767px) {
  .main-container {
    height: 77vh;
  }
  .button {
    width: 50vw;
  }
  .img {
    height: 60vh;
  }
}
