:root {
  --orange: #ffa500;
  --off-white: #faf8f7;
  --yellow: #ffff00;
  --red: #ff0000;
}
.main-container {
  background-color: var(--off-white);
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  height: 2rem;
  border: solid 0.1rem var(--orange);
  border-radius: 0.5rem;
  background-color: var(--off-white);
}
button:hover {
  background-color: var(--yellow);
  color: var(--red);
  cursor: pointer;
}
.img {
  height: 40rem;
}

@media (max-width: 767px) {
  .img {
    height: 20rem;
  }
}
