.tab {
    display: table;
}
.versus {
    text-align: center;
    margin: 1rem;
}
.body-compare p {
    margin: 0.2rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container-compare .compare {
    position: fixed;
    left: 47%;
    align-items: center;
    padding: 0 1rem;
    font-weight: 700;
}
.list-left {
    padding-left: 0;
    padding-right: 2em;
    text-align: start;
    list-style: none;
}
.list-right {
    padding-left: 2em;
    text-align: end;
    list-style: none;
}

@media (max-width: 767px) {
    .container-compare .compare {
        left: 40%;
    } 
}