.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--shadow);
  justify-content: center;
  align-items: center;
}
.container .content {
  display: block;
  width: 60%;
  height: 80%;
  background-color: var(--off-white);
  border-radius: 12px;
  box-shadow: 0px 0px 15px var(--gray);
  padding: 20px;
}
.container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
}
.container .flex {
  display: flex;
}
.container .column {
  flex-direction: column;
}
.container .row {
  flex-direction: row;
}

.container .between {
  justify-content: space-between;
}
.container .around {
  justify-content: space-around;
}

.container .center {
  justify-content: center;
  align-items: center;
}
.container .image {
  position: fixed;
  width: 25%;
}
.container .wrap {
  flex-flow: row wrap;
}
.container .btn {
  margin: 5px;
  padding: 5px;
  background-color: var(--off-white);
}
