.nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--just-white);
  z-index: 1;
}

.nav .row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav .btn-nav {
  margin: 0em 1em;
  text-decoration: none;
  color: black;
}

.nav .btn-nav:hover {
  text-decoration: underline;
  color: var(-red);
}

.img-logo {
  width: 12em;
}

.nav .search {
  padding: 5px;
  margin-right: 1rem;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav .row {
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .nav .search {
    margin: 1em 0;
    width: 80vw;
  }
}
